.nicec {
	background-color: #003300;
}

.fp {
	min-height: 70vh;
	background-color: rgb(235, 244, 252);
}

.cw {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://www.publicdomainpictures.net/pictures/300000/velka/wheat-field-background.jpg');
}

.coolbg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
		url('https://images.unsplash.com/photo-1553173385-682bfe958d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 1350px) {
	.nice {
		padding: 0 200px;
	}
}

@media (min-width: 340px) and (max-width: 768px) {
	.nice {
		padding: 0 20px;
	}
}

@media (max-width: 768px) {
	.smallt {
		margin: 20px 0;
	}
}

.fcool {
	background-color: rgb(62, 60, 71);
}
