.nicec {
	background-color: #003300;
}

.coolbg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://cdn.trendhunterstatic.com/thumbs/cool-backgrounds.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fp {
	min-height: 100vh;
}

@media (max-width: 768px) {
	.smallt {
		margin: 20px 0;
	}
}

.fcool {
	background-color: rgb(62, 60, 71);
}
